* {
  letter-spacing: -0.04em;
}

body {
    overflow: hidden;
    font-family: 'Times New Roman';

}

a {
  color: inherit;
}

textarea {
    width: calc(100vw - 8vh);
    height: calc(100vh - 4vh);
    font-size: 2em;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    border: none;
    outline: none;
    resize: none;
    background-color: #FFFFFF00;
    font-family: inherit;

  }

.blur {
  filter: blur(7px);
}

button {
  display: block;
  text-align: left;
  font-family: inherit;
}


.sidebar {
  top: 0;
  left: 0;
  position: fixed;
  margin-top: 4vh;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-right: 5px;
  outline: 2px solid black;
  background-color: #FFFFFF;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15em;
  width: 17em;
}


.fontsidebar {
  top: 5.4em;
  left: 17.5em;
  position: fixed;
  margin-top: 4vh;
  padding: 1px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 5px;
  outline: 2px solid black;
  background-color: #FFFFFF;
  visibility: hidden;
}




#dropdown {
  background-color: #FFFFFF00;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #000000;
  font-family: inherit;
  outline: none;

}

.dropdown {
  box-shadow: none;
}

.hoverchecker {

  top: 0;
  left: 0;
  width: 2vw;
  height: 13em;
  position: fixed;
  margin-top: 4vh;
}

.sidebutton {
  background-color: #FFFFFF00;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #000000;
}

.divider {
  border-top: 2px solid #000000;
  width: 100%;
  margin-top: -0.4vh;
  margin-bottom: -0.4vh;
}


#madeby, #coffee, #text {
  cursor: auto;
}

#text {
  margin-top: -0.2vh;
  font-size: 1em;
}

.fontoptions {
  font-family: inherit;
}
